<div class="table-field">
  <div class="button-top">
    <img src="../assets/img/table-button.svg" alt="">
  </div>  
    <table >
        <div class="scrol">
          <thead>
            <tr class="header-table">
              <th>{{headerFirstBalance}}</th>
              <th>{{headerSecondBalance}}</th>
            </tr>
          </thead>    
          <tbody>
            <tr *ngFor="let el of elements" class="g">
              <th scope="row" class="row-table">{{el.firstColumn}}</th>
              <td>{{el.secondColumn}}</td>        
            </tr>
          </tbody>
      </div>
    </table>   
  <div class="button-bottom">
      <img src="../assets/img/table-button.svg" alt="">     
  </div>   
</div>


 