<app-stepper-container [headerStepper]="['Рассчет рациона']" [headerFirstItem]="['Количество голов']"
  [headerLastItem]="['Результаты анализов']" [firstLinkStepper]="['count-cow']" [lastLinkStepper]="['laboratory-feel']">
  <app-stepper-item [header]="['Выбор кормов']" [link]="['selection-feel']"></app-stepper-item>
  <app-stepper-item [header]="['Категория кормления']" [link]="['category-feel']"></app-stepper-item>
</app-stepper-container>

<div class="main">
  <router-outlet></router-outlet>
</div>