<div class="conteiner">
  <table mdbTable>
    <thead>
      <tr class="header-table">
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements" >
        <th scope="row" class="row-table">{{el.feedName}}</th>
        <td>{{el.price}}</td>        
        <td><app-button-sorting></app-button-sorting></td>
        <td><app-button-choice></app-button-choice></td>
        <td><app-button-close></app-button-close></td>
      </tr>
    </tbody>
  </table>  
</div>

 