.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-text {
  font-weight: bold;
  font-size: 48px;
  line-height: normal;
  color: #3e3e3e;
  margin-top: 20px;
}
.loading-progress {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-progress span {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  color: #424242;
}
input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 4.21px;
  width: 388.72px;
  border-radius: 5px; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0; /* 1 */
  height: 2.11px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #26C6DA;
  border: 0px solid #999; /* 1 */
}
