
<div class="container">
  <span>Выберите корма</span>
  <p>выберите корма, которые вам доступны</p>
  <div>
    <section class="table">
        <app-table-feed-selection></app-table-feed-selection>
    </section>
  </div>
  <div class="button-block">
      <app-button [btnText]="['Добавить новый']"
                  [btnColor]="['linear-gradient(192.69deg, #2CC9DE 0.45%, #228794 100%)']"
                  >
      </app-button>
      <app-button [btnText]="['Продолжить']"
                  [btnColor]="['linear-gradient(193.84deg, #63F304 5.47%, #6AD822 98.79%)']"
                  [link]="['/company/ration/category-feel']">
      </app-button>
  </div>    
</div>