.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-block{
    display: flex;
  }
  .button-block {
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .square{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: #FBFBFB;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    height: 374px;
    padding: 0px 55px 0px 55px;

    font-size: 20px;
    width: 280px;
    line-height: 1.5;    
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #000;
  }

  span{
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    color: #26C6DA;
  }