<div class="container">
            <div class="row pt-5">
                <div class="col-sm-2 offset-md-3">
                    <div class="card counter p-3">
                        <div class="card-body">
                            <p class="card-text counter-text border-bottom text-center">0</p>
                            <a class="counter-arrow left" href="#"><i class="fas fa-chevron-left fa-2x"></i></a>
                            <a class="counter-arrow right" href="#"><i class="fas fa-chevron-right fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>