<div class="container">

  <div class="preview-block">
    <a class="btn-menu" routerLink="/admin/menu"><img width="60%" height="auto" src="assets/img/preview-left-arrow.png"
        alt=""></a>
    <h2>Управление пользователем</h2>
  </div>

  <div class="table-block">


    <div>
      <app-tablet-users [headerFirstUser]="['Логин']" [users]="users$ | async" (removeUser)="remove($event)"
        [headerSecondAction]="['Действие']">
      </app-tablet-users>
    </div>

    <div>


      <div class="first-block" (click)="showNewBlock()" *ngIf="firstblock">

        <img width="10%" height="auto" src="assets/img/plus.png" alt="Error">
        <h4>Добавить нового пользователя</h4>

      </div>

      <div class="second-block" *ngIf="showBlock">

        <h4>Регистрация пользователя</h4>

        <ul>

          <div>
            <li>

              <label>Логин</label>
              <input placeholder="Придумайте логин" name="login" [(ngModel)]="newUser.login" #login="ngModel" required>

              <div class="input-message" [ngClass]="{message: login.valid || login.untouched || login.dirty}">
                <p>Введите корректные данные!</p>
              </div>

            </li>

            <li>
              <label>Название организации</label>
              <input placeholder="Введите имя" name="companyName" [(ngModel)]="newUser.companyName"
                #companyName="ngModel" required>
              <div class="input-message"
                [ngClass]="{message: companyName.valid || companyName.untouched || companyName.dirty}">
                <p>Введите корректные данные!</p>
              </div>
            </li>
          </div>
          <div>
            <li>
              <label>Email</label>
              <input placeholder="Введите email" type="email" name="email" [(ngModel)]="newUser.email" #email="ngModel"
                required>
              <div class="input-message" [ngClass]="{message: email.valid || email.untouched || email.dirty}">
                <p>Некорректный email</p>
              </div>
            </li>
            <li>
              <label>Пароль</label>
              <input placeholder="Придумайте пароль" type="password" name="password" [(ngModel)]="newUser.password"
                #password="ngModel" required>
              <div class="input-message" [ngClass]="{message: password.valid || password.untouched || password.dirty}">
                <p>Введите корректные данные!</p>
              </div>
            </li>
          </div>
        </ul>

        <div class="btn-block">

          <button [ngClass]="{disabled: login.invalid || companyName.invalid || email.invalid || password.invalid}"
            (click)="addUser()">
            Зарегистрировать
          </button>

        </div>

        <div class="block-notif">
          <div class="txt-notification" #notification *ngIf="notification">
            <p>Пользователь успешно добавлен!</p>
          </div>
        </div>






      </div>






    </div>

  </div>
</div>