
.container{
    margin: 40px 80px;
    color: #424242;
}

/*---Header---*/
.preview-block{
    display: flex;
    align-items: center;
}
.preview-block h2{
  
    font-size: 28px;
    font-weight: 400;
}
.btn-menu{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(193.22deg, #2CC9DE 0.45%, #228794 100%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.btn-menu:hover{
    opacity: 0.7;
    transition: 0.5s;
}
/*---Content block with table---*/

.table-block{
    
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}
/*.table-new-user{
    height: 420px;
    width: 600px;
    background: #FBFBFB;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    
}*/

/*---First block---*/
h4{
   
    margin: 0px;
    font-size: 22px;
    color: #26C6DA;
    font-weight: bold;
}
.first-block, .second-block{
    margin-left: 20px;
}
.first-block, .second-block{
    cursor: pointer;
    background: #FBFBFB;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    width: 600px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.first-block h4{
    margin-top: 40px;
}
.first-block:hover{
    opacity: 0.7;
    transition: 0.7s;
}


/*---Second block---*/



.second-block{
    height: 500px;
   
}
.second-block h4{
    margin-bottom: 30px;
    font-size: 22px;
    color: #26C6DA;
   
}
.second-block ul{
    display: flex;
  
}
.second-block ul div{
    margin: 0 30px;

}
.second-block ul div li{
    margin: 10px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
}
input {
    background: initial;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
    line-height: 29px;
    width: 188px;
    height: 29px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #26C6DA;
}

input:required {
    border-bottom: 2px solid #26C6DA;
}

input:required:invalid {
    border-bottom: 2px solid #E0E0E0;
}

input:required:invalid:focus {
    border-bottom: 2px solid #26C6DA;
}
input[placeholder]{
    font-weight: 200 !important;
    font-size: 16px;
}
input.ng-touched.ng-invalid {
    border-bottom: 2px solid red;
}
.message{
   visibility: hidden;
    
}
.input-message{
    margin: 0 !important;

}
.input-message p{
    color: red;
   font-size: 14px;
  
}
/*button*/

.btn-block:hover{
    opacity: 0.7;
    transition: 0.7;

}
.btn-block button{
    cursor: pointer;
    border: none;
    background: linear-gradient(259.83deg, #2cc9de 0.45%, #228794 100%);
    width: 290px;
    height: 55px;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);

}
button:disabled{
    color: red;

}





