<div class="container">

  <div class="preview-block">
    <a class="btn-menu" routerLink="/admin/menu"><img width="60%" height="auto" src="assets/img/preview-left-arrow.png"
        alt=""></a>
    <h2>Управление пользователем</h2>
  </div>

  <div class="table-block">


    <div>
      <app-tablet-users [headerFirstUser]="['Логин']" [headerSecondAction]="['Действие']" [users]="users">
      </app-tablet-users>
    </div>

    <div>
      <app-form-group-input blockHeaderNameSecond="Добавление нового пользователя"
        blockHeaderName="Добавить нового пользователя"></app-form-group-input>



    </div>

  </div>
</div>