<<<<<<< HEAD
=======
a{
    text-decoration: none;
}
>>>>>>> 04e0766fe973038960dda7d38cba919bebcbfea7
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 55px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}
span{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
<<<<<<< HEAD
=======
}
a:hover{
    opacity: 0.7;
    transition: 0.7;
>>>>>>> 04e0766fe973038960dda7d38cba919bebcbfea7
}