<div class="background-sign">
  <div class="form-entrance-position">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <span class="text-login">Вход в систему</span>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail"
        aria-describedby="emailHelp"
        placeholder="Логин или Email"
        [(ngModel)]="username"
        name="username"
        required
      />
      <div class="form-group">
        <input
          type="password"
          id="exampleInputPassword"
          placeholder="Пароль"
          [(ngModel)]="password"
          name="password"
          required
        /><br />
        <a href="#" class="PasswordlHelp">
          <small id="PasswordlHelp" class="form-text"> Забыли пароль?</small>
        </a>
      </div>
      <button [disabled]="loginForm.invalid" type="submit" class="btn-continue">
        Продолжить
      </button>
      <div class="custom-control custom-checkbox">
        <label for="cbx" class="label-cbx">
          <input id="cbx" type="checkbox" class="invisible" />
          <div class="checkbox">
            <svg width="20px" height="20px" viewBox="0 0 20 20">
              <path
                d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"
              ></path>
              <polyline points="4 11 8 15 16 6"></polyline>
            </svg>
          </div>
          <span>сохранить данные</span>
        </label>
      </div>
    </form>
  </div>
</div>
