<div class="container">
    <app-table-balance [headerFirstBalance]="['Вид корма']"
                    [headerSecondBalance]="['Факт (т)']">
    </app-table-balance>
    <div class="square">
        <app-square-block [blockHeaderName]="['Сколько дней период кормления?']">
        </app-square-block>
        <app-counter
            [fontSize]="['30px']"
            [colorText]="['#424242']"
            [fontWeight]="['normal']"
            [fontStyle]="['normal']"
            [lineHeight]="['normal']"
            [width]="['100px']"
            [height]="['40px']"></app-counter> 
    </div>
</div>