<div class="container">
    <div class="content-block">
        <app-table-balance [headerFirstBalance]="['Вид корма']" [headerSecondBalance]="['Факт (т)']">
        </app-table-balance>
        <div class="square">
            <app-square-block [blockHeaderName]="['Сколько дней период кормления?']" [width]="['250px']">
            </app-square-block>
            <app-counter [fontSize]="['30px']" [colorText]="['#424242']" [fontWeight]="['normal']" [fontStyle]="['normal']" [lineHeight]="['normal']" [width]="['100px']" [height]="['40px']"></app-counter>
        </div>
    </div>
    <div class="button-block">
        <app-button [btnText]="['Далее']" [btnColor]="['linear-gradient(192.58deg, #EE6C3B 0%, #C94A1A 100%)']" [link]="['/company/balance/initial-data']">
        </app-button>
    </div>
</div>