<div class="menu-block">
  <ul>
    <li><a routerLink="/admin/user-managment"><button>Управление пользователем</button></a></li>
    <li><a routerLink="/admin/korms-managment"><button>Управление кормами</button></a></li>
    <li><a routerLink="/admin/ration-history"><button>История рационов</button></a></li>
    <li><a routerLink="/admin/new-user-admin"><button>Добавить нового администратора</button></a></li>
    <li><a routerLink="/admin/menu"><button>Перейти в мобильное приложение</button></a></li>
  </ul>
</div>