<form #registerForm="ngForm" (ngSubmit)="register()">
    <input type="text" placeholder="Login" required [(ngModel)]="model.login" name="login" />
    <input type="text" placeholder="Password" required [(ngModel)]="model.password" name="password" />
    <input type="text" placeholder="First Name" required [(ngModel)]="model.firstname" name="firstname" />
    <input type="text" placeholder="Last Name" required [(ngModel)]="model.lastname" name="lastname" />
    <button type="submit">Register</button>
</form>