.container{
    margin: 40px 80px;
    color: #424242;
}
.block-new-admin{
    display: flex;
    justify-content: center;
}

.preview-block{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.preview-block h2{
  
    font-size: 28px;
    font-weight: 400;
}
.btn-menu{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(193.22deg, #2CC9DE 0.45%, #228794 100%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.btn-menu:hover{
    opacity: 0.7;
    transition: 0.5s;
}