<div class="container">
    <div class="content-block">
        <app-table-balance [headerFirstBalance]="['Вид корма']" [headerSecondBalance]="['Количество дней']"
            [storageKorms]="storageKorms$ | async">
        </app-table-balance>
        <div class="square">
            <app-square-block [blockHeaderName]="['Кормов будет достаточно на (при данном рационе)']"
                [blocksectionName]="['5 дней']" [width]="['280px']">
            </app-square-block>
        </div>
    </div>
    <div class="button-block">
        <app-button [btnText]="['Назад']" [btnColor]="['linear-gradient(192.58deg, #EE6C3B 0%, #C94A1A 100%)']"
            [link]="['/company/balance/dietary-indicators']">
        </app-button>
    </div>
</div>