.table-field {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  width: initial;
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background: #FBFBFB;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  color: #424242;
  
}

.scrol{
 
  overflow-y: scroll;
  height: 260px;
}

.scrol::-webkit-scrollbar {
  width: 0 !important;
}

.row-table {
  height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
}

.header-table>th {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  padding: 20px 100px 20px 100px;
}

tr:nth-child(odd) {
  background: rgba(38, 198, 218, 0.1);

}

tr.header-table {
  background: initial;
}

.button-top {
  margin-bottom: 10px;
}

.button-bottom {
  margin-top: 10px;
}

.button-top,
.button-bottom {
  position: relative;
  height: 47px;
  background: #FBFBFB;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-top img,
.button-bottom img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.button-bottom img {
  transform: rotate(180deg);
}


