.initial-parameters-block{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #FBFBFB;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    line-height: 80px;
    margin-bottom: 30px;
    width: 790px;
    text-align: center;
}
span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #333333;
    margin-left: 25px;
    margin-right: 25px;
}
input{
    width: 240px;
    border: none;
    height: 40px;
    background: #FBFBFB;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    color: #333333;
    font-weight: 600;
    outline:none;
}
input:required:invalid:focus {
    border-bottom: 2px solid #26C6DA;
}
.name-parameter{
    text-align: left;
}
.parameter-value{
    margin-left: auto;
}
.parameter-unit{
    width: 80px;
}
input:required {
    border-bottom: 2px solid #26C6DA;
}
input:required:invalid {
    border-bottom: 2px solid #E0E0E0;
}