<div class="table-field">
    <div class="button-top" (click)="scrollTop()">
        <img src="../assets/img/table-button.svg" alt="">
    </div>
    <table>
        <div #widgetsContent class="scrol">
            <thead>
                <tr class="header-table">
                    <th>{{headerOneKorms}}</th>
                    <th>{{headerTwoKorms}}</th>
                    <th>{{headerTreeKorms}}</th>
                </tr>
            </thead>
            <tbody>
              
                <tr class="g" *ngFor="let k of kormsHistory | async">
                    <th scope="row" class="row-table">{{k.user}}</th>
                    <th scope="row" class="row-table">{{k.createData}}</th>
                    <th scope="row" class="row-table">{{k.price}}</th>
                </tr>        
      
            </tbody>
        </div>
    </table>
  
    <div class="button-bottom" (click)="scrollBotton()">
        <img src="../assets/img/table-button.svg" alt="">
    </div>
  </div>