<div class="table-field">
    <div class="button-top" (click)="scrollTop()">
        <img src="../assets/img/table-button.svg" alt="">
    </div>
    <table>
        <div #widgetsContent class="scrol">
            <thead>
                <tr class="header-table">
                    <th>{{headerFirstUser}}</th>
                    <th>{{headerTime}}</th>
                    <th>{{headerPriceRation}}</th>
                </tr>
            </thead>
            <tbody>

                <!-- 
                    !!!РАССКОМЕНТИТЬ ПОСЛЕ ПРОВЕРКИ

                    <tr *ngFor="let korm of korms" class="g">
                    <th scope="row" class="row-table">{{}}</th>
                     <td><a class="btn-delete" href=""><button>Удалить</button></a></td>
                    </tr>
            -->


                <tr class="g">
                    <th scope="row" class="row-table">Женя</th>
                    <th scope="row" class="row-table">Женя</th>
                    <th scope="row" class="row-table">Женя</th>
                  
                </tr>
           



            </tbody>
        </div>
    </table>

    <div class="button-bottom" (click)="scrollBotton()">
        <img src="../assets/img/table-button.svg" alt="">
    </div>
</div>